/* Global Variables / Mixins
----------------- */
@import "variables.scss";
@import "mixins.scss";
/* Font Family 
----------------- */
@font-face {
    font-family: 'ds-digitalnormal';
    src: url('../fonts/ds-digi-webfont.eot');
    src: url('../fonts/ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds-digi-webfont.woff2') format('woff2'),
         url('../fonts/ds-digi-webfont.woff') format('woff'),
         url('../fonts/ds-digi-webfont.ttf') format('truetype'),
         url('../fonts/ds-digi-webfont.svg#ds-digitalnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg#ds-digitalnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Header
----------------- */
header#header {

	background-color : #000000;

	form#searchform{ 
		padding: 8px 10px;
		background-color: #f1f1f1;
		
		input[type="text"]{
			margin-bottom: 0;
			padding: 6px;
			background: transparent;
			border: 0;
		}
		
		.search-icon{
			margin-top: 2px;
			padding: 0;
			background: url('../images/sprite.png') no-repeat 0 0;
			background-position: -20px -20px;
			width: 28px;
			height: 28px;
			
			border: 0;
			text-indent: -9999px;
		}
	}
}

h1.logo{
	margin-bottom: 26px;
	padding-top: 0;
	
	img{
		display: inline-block;
	}
}

	h2.slogan {
		font-size: 16px;
		color : $primary-font-color;
	}


/* Navigation
----------------- */

.main-menu {
	ul.nav {
		
		& > li {
			& > a {
				border-top: 4px solid transparent;
				color: #000;
				
				&:focus,
				&:hover{
					background: transparent;
					color: $primary-color;
					
					border-color: #7BC6B1;
				}
			}
		}
			
		li {
			padding: 8px 10px;
			
			a {
				padding: 4px 0;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 16px;
				
				color: #000;
			}
			
			&.current_page_ancestor > a,
			&.current-menu-item > a {
				background: transparent;
				color: $primary-color;
				border-color: #7BC6B1;
			}
			
			
			// Sub Menu Display on Hover
			&:hover ul {
				left: 0;
				top: 48px; //match top ul list item height
				z-index: 99;
			}
			
			&:hover li ul {
				top: -999em;
			}
			
			li:hover ul {
				left: 10em; //match ul width
				top: 0;
			}
			
			li:hover li ul {
				top: -999em;
			}
			
			li li:hover ul {
				left: 10em; //match ul width
				top: 0;
			}
		}
		
		// Sub Menu
		ul {
			position: absolute;
			top: -999em;
			
			background-color: #F5F5F5;
			width: 14em;
			text-align: left;
			
			border-bottom: 2px solid #7BC6B1; 
			padding-top: 8px;
			padding-bottom: 8px;
			
			list-style: none;
			
			& li:hover, 
			& li.sfHover, 
			& li.current-menu-item a, 
			& li.current-menu-ancestor a,
			& a:focus, 
			& a:hover, 
			& a:active {
				background-color: #ABDACD;
				outline:		0;
				
				color: #fff;
			}
			
			li {
				padding: 0;
				
				a {
					padding: 8px 10px;
					display: block;
				}
			}
			
			li:first-child > a{
				border-top: none;
			}
			
			li:last-child > a{
				border-bottom: none;
			}
		}
		
	}
}

/* Content
----------------- */

main#main{ 
	margin-top: 60px;
	
	article{
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
}

.page-title,
.entry-title{
	margin-top: 0;
	font-size: 28px;
	color: $primary-color;
	font-weight: 400;
	
	a{
		font-size: 18px;
		color: $primary-color;
		font-weight: 600;
		
		&:hover{
		}
	}
}

.entry-utility{
	margin-bottom: 20px;
	font-size: 13px;
}
	

/* Read More */
.more-link{
	margin-top: 20px;
	padding: 12px 24px;
	background-color: $primary-color;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	
	&:hover{
		background-color: rgb(85,85,85); color: #fff;
		text-decoration: none;
	}
}

/* author description */
.author-wrapper{
	margin-top: 30px;
	padding: 20px 10px 18px 10px;
	background-color: #EEE; 

	h3.author-title{
		margin-top: 0;
	}

	.author-info{
		color: #8F8F8F;
	}
}

/* Front page
----------------- */


/* Page Template
----------------- */


/* Sidebar
----------------- */
aside {
	.widget-container{
		margin-bottom: 40px;
	
		.widget-title{
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: #333;
		}
		ul{
			list-style: none;
			
			li{
				padding: 0.4em 0;
				list-style: none;
			
				a{
					display: block;
				}
			}
		}
	}

	ul.children{
		li:last-child,
		li:last-child{
			border-bottom: 0;
		}
	}
	
	.icons{
		margin-top: 20px;
		font-size: 14px;
		
		.icon{
			margin-top: 4px;
			margin-right: 12px;
			background: url('../images/sprite.png') no-repeat -18px -92px;
			width: 20px;
			height: 20px;
			content: "";
			display: inline-block;
			
			position: relative;
			top: 4px;
			
			&.telephone{}
			&.url{
				background-position: -18px -112px;
			}
			&.fax{
				background-position: -18px -132px;
			}
			&.email{
				background-position: -18px -152px;
			}
		}
	}
}

/* tag cloud */
.tagcloud{
	margin-bottom: 14px;
	display: table;
	
	a{
		font-size: 12px !important;
		display: block;
		float: left;
		padding: 8px;
		margin-right: 8px;
		margin-top: 8px;
		border: 1px solid;
		border-color: #ddd;
		
		@include border-radius( 3px );
	}
}

/* Comments
----------------- */
.comment-wrapper{
	margin-top: 40px; 
	
	#respond{
		margin-top: 30px;
	}
	
	.comment_heading{
		font-size: 12px;
	}
	
	#reply-title,
	.comment-title { 
		font-size: 18px;
	}
	
	#reply-title {
		margin-bottom: 15px;
	}
	
	.comment-form {
		input[type="text"],
		input[type="text"],
		textarea{
			padding: 14px;
			background-color:
			#F3F3F3;
			border: none;
		}
	}
	
	.comment-form-author,
	.comment-form-email {
		float: left;
		width: 49%;
		margin-right: 2%;
	}

	.comment-form-email {
		margin-right: 0;
	}

	.comment-form-comment {
		clear: both; 
		
		textarea {
			height: 160px;
			width: 100%;
		}
	}

	span {
		line-height: 24px;
		margin-right: 2px;
	}
}

ol.comment-list{
	list-style: none; 
	
	ul{
		margin: 0px 0px 0px 30px;
		list-style: none;
	}
	.comment-body {
		border-bottom: 1px solid #E4E4E4;
		margin-top: 22px;
		padding-bottom: 22px;
		
		.comment-avartar {
			float: left;
			height: 66px;
		}
		.comment-context {
			margin-left: 100px;
			
			.comment-content{
				margin-top: 7px;
				
				.comment-author { 
					margin-right: 5px;
					font-size: 14px;
				}
				.comment-date { 
					margin-right: 5px;
					font-style: italic;
					font-size: 12px;
				}
				.comment-time {
					margin-right: 5px;
					font-style: italic;
				}
			}
		}
	}
	
}



/* Footer
----------------- */
footer#footer {
	margin-top: 40px;
	padding: 16px 0;
	background-color: #000000;
	color: #fff;
		
	a{
		color: #eee;
		font-size: 14px;
	}
	
	.copyright,
	.widget_text{
		font-size: 12px;
		font-weight: 300;
		color: #b8b8b8;
	}
}

/* Custom Css */
body{
	background-color: #000 !important;
	font-family: 'ds-digitalnormal' !important;
	font-weight: 500 !important;
	font-size : 2vw !important;
	color : #fff !important;
}

.queue-thumbnail-box{
	cursor : pointer;
}

/* Queue Links
----------------------*/
.queue-board-link, .queue-counter-link, .queue-ticket-link, .queue-station-link{

	a{
		color : #fff;
	}
	
	a:hover, a:link, a:visited{
		text-decoration : none;
		color : #fff;
	}
	
	p{
		line-height: 40px;
	}
}

/* Queue Board Page 
----------------------*/
.serving-title{
	
	h1{
		font-size : 3.5vw;
		color: #FFEB00;
	}
}
.servingnumber{ color : #ff0000; }
.servingnumber, .counternumber{
	
	p{
		padding: 0em 0.1em;
		font-size: 8vw;
		margin: 0;
	}
}

/* Queue Counter Page 
----------------------*/
.counter{

	.counter-title{
		
		h1{
			font-size : 3.5vw;
			color: #FFEB00;
		}
	}
	
	.counter-content{
	
		p{
			padding: 0em 0.1em;
			margin: 0;
			font-size : 2vw;
			
			.fa{
				display: inline-block;
				padding: 0em 0.5em;
				font-family: 'fontawesome';
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transform: translate(0, 0);
			}
		}
		
	}

	
}


/* Queue Station Page 
----------------------*/
.station{
	
	.add-queue{
		display : none;
		
		.add-queue-form{
		
			label{
				font-size : 2vw;
			}
			
			.btn-submit{
				background: #333!important;
				border-color: #333;
				color: #fff;
				border-radius: 0;
			}
			
			.btn-submit:hover{
				background: #262626!important;
				border-color: #262626;
				border-radius: 0;
			}
		}
	}
}

/* Queue Ticket Page 
----------------------*/
.ticket{
	
	h1{
		font-size : 3.5vw;
		color: #FFEB00;
	}
	
	.btn-danger{
		background: #333!important;
		border-color: #333;
		border-radius: 0;
		
		h4{
			color: #fff;
		}
	}
	
	.btn-danger:hover{
		background: #262626!important;
		border-color: #262626;
		border-radius: 0;
	}
}

/* qcounter page
-----------------------*/
.qcounter{
	
	.qcounter-title{
		
		h1{
			font-size : 3.5vw;
			color: #FFEB00;
		}
	}
	
	.qcounter-content{
		
		h1{
			font-size : 3.5vw;
			color: #FFEB00;
		}
		
		p{
			font-size : 1vw;
		}
		
		.btn-success{
			background: #AE7D54!important;
			border-color: #AE7D54;
			color: #fff;
			border-radius: 0;
		}
		
		.btn-success:hover{
			background: #895B35!important;
			border-color: #895B35;
			color: #fff;
			border-radius: 0;
		}
		
		.btn-warning{
			background: #333!important;
			border-color: #333;
			color: #fff;
			border-radius: 0;
		}
		
		.btn-warning:hover{
			background: #262626!important;
			border-color: #262626;
			border-radius: 0;
		}
		
		.qcounter-number{
			font-size : 2vw;
			
			i{
			font-size: 0.5em;
			vertical-align: middle;
			cursor: pointer;
			}
		}
	}
}