/* backgrounds */
/* $navbar-background: #BDD2FF;
$navbar-background-hover: #BDD2FF; */

/*  colors */
 $primary-color: #0fbc85;
$secondary-color: #fff;

$heading-color: #666;
$subheading-color: #333; 

/* font-color */
$primary-font-color : #fff;